html {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  line-height: 1.7;
}

body {
  background: #EEE;
  border-radius: 6px;
  margin: 20px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  background: #EEE;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 200;
  margin-bottom: 0;
}

h2 {
  font-size: 1.1em;
}

h1, h2 {
  align-self: center;
}

#img-div {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 13px;
  width: 100%;
  height: auto;
}

#image {
  width: 80%;
  max-width: 80%;
  height: auto;
}

#img-caption {
  margin-top: 10px;
}

#tribute-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 55%;
}

ul {
  text-align: justify;
}

li {
  margin-bottom: 10px;
}

li span {
  font-weight: bold;
}

#addendum {
  font-style: italic;
  text-align: justify;
}